<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stock ticks</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="/static/css/theme.css" rel="stylesheet">
        <script type='text/javascript' src='/static/js/jquery.min.js'></script>
        <script type="text/javascript" src="/static/js/d3.v2.min.js"></script>
        <link rel="shortcut icon" href="/static/img/favicon.ico">
  </head>
  <body>
    <div class="container-fluid">
        <div class="span12">
          <h1>Stock candlestick - bid prices
            <button id="button" class="darkblue active" onclick="toggle()">
              Toggle
            </button>
          </h1>
          <div id="chart">
          </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/site.js"></script>
  </body>
</html>

